.page-section .cta-inner h3 {
    font-weight: 400;
    padding: 15px;
    margin-top: 15px;
    font-size: 18px;
    font-weight: 600;
    color: #222222;
}

.page-section .cta-inner h4 {
    font-size: 42px;
    color: #e6a756;
    font-weight: 500;
    margin-bottom: 20px;
}

.page-section .cta-inner h4 sup {
    font-size: 20px;
    top: -15px;
    left: -3px;
}

.page-section .cta-inner h4 span {
    color: #bababa;
    font-size: 16px;
    font-weight: 300;
}

.page-section .cta-inner ul {
    padding: 0;
    list-style: none;
    color: #222222;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
}

.page-section .cta-inner ul li {
    padding-bottom: 16px;
}

.page-section .cta-inner ul .na {
    color: #ccc;
    text-decoration: line-through;
}

/* Contact */
.section-header h3 {
    font-size: 32px;
    color: #111;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    position: relative;
    padding-bottom: 15px;
}

.section-header h3::before {
    content: '';
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
}

.section-header h3::after {
    content: '';
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #e6a756;
    bottom: 0;
    left: calc(50% - 20px);
}

.section-header p {
    text-align: center;
    padding-bottom: 30px;
    color: #333;
}

.cta-inner .contact-info {
    margin-bottom: 20px;
    text-align: center;
}

.cta-inner .contact-address, .cta-inner .contact-phone, .cta-inner .contact-email {
    padding: 20px 0;
}

.cta-inner .contact-info i {
    font-size: 48px;
    display: inline-block;
    margin-bottom: 10px;
    color: #e6a756;
}

.cta-inner .contact-info h3 {
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: bold;
    text-transform: uppercase;
    color: #999;
}

.cta-inner .contact-info address, .cta-inner .contact-info p {
    margin-bottom: 0;
    color: #000;
}

.cta-inner .contact-phone {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.cta-inner .contact-info a {
    color: #000;
}

.cta-inner .contact-info p :hover {
    color: #e6a756;
    transition: 0.5s;
    text-decoration: none;
}